node_modules
vendor
npm-debug.log
Dockerfile*
docker-compose*
.dockerignore
.git
.gitignore
README.md
.env
.nyc_output
coverage
.coverage
*.log
.DS_Store
.vscode
.idea
public/storage
storage/framework/cache/data/*
storage/framework/sessions/*
storage/framework/views/*
storage/logs/*.log
bootstrap/cache/*.php